<div class="container-fluid">
  
  <h3 class="alert alert-info">
    {{title}}
  </h3>

  <div class="row">
    <form #tellerTotalsForm="ngForm" (ngSubmit)="onSubmit()">



    <!-- pattern="(?:(?:0[1-9]|1[0-2])[\/\\-. ]?(?:0[1-9]|[12][0-9])|(?:(?:0[13-9]|1[0-2])[\/\\-. ]?30)|(?:(?:0[13578]|1[02])[\/\\-. ]?31))[\/\\-. ]?(?:19|20)[0-9]{2}" -->
    <!--
    <alert type="success">hello</alert>
    -->
  	<!-- <div class="card col-sm-3">

    <label for="date-value">Date</label>
    <div class="input-group">


       <input type="text" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
        class="form-control" [(ngModel)]="dateValueString" id="date-value">
       <span class="input-group-btn">
         <button class="btn btn-secondary" id="date-button" type="button" (click)="showDatePicker = !showDatePicker"><span class="fa fa-calendar"></span></button>
       </span>
    </div>

    <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
      <datepicker [(ngModel)]="dateValue" (selectionDone)="showDatePicker = false"></datepicker>
    </div>

    </div>  
    -->

    <div class="card col-sm-4">

      <table class="table table-condensed">
        <tr>
          <th>Currency Type</th>
          <th class="text-right">Count</th>
          <th class="text-right">Amount</th>
        </tr>
          <tr *ngFor="let currencyItem of currencyItems; let i = index">
          <td>{{currencyItem.title}}</td>
          <td class="text-right"><input class="text-right" [name]="'currencyItem' + i" type="number" pattern="^\d+$" min="0" max="10000" step="1" [(ngModel)]="currencyItem.count"></td>
          <td class="text-right">{{currencyItem.amountString}}</td>
          </tr>
      </table>

    </div>

    <div class="card col-sm-3">

      <table class="table table-condensed">
        <tr>
          <th>Daily Totals</th>
          <th class="text-right">Amount</th>
        </tr>
          <tr *ngFor="let dailyTotalItem of dailyTotalItems; let i = index">
          <td>{{dailyTotalItem.title}}</td>
          <!-- [(ngModel)]="dailyTotalItem.amount" -->
          <!-- [ngModel]="dailyTotalItem.amount" (ngModelChange)="dailyTotalItem.amount = $event" -->
          <!-- [value]="dailyTotalItem.amount" (input)="dailyTotalItem.amount = $event.target.value"  ngAfterViewInit sees value in control but ngModel not hooked in for validation -->
          <!-- type="number" step=".01" pattern="^-?\d+(\.\d{2})?" -->
          <td class="text-right"><input [(ngModel)]="dailyTotalItem.amount" [comNumberInput]="2" class="text-right" [name]="'dailyTotalItem' + i" type="text" pattern="^-?[0-9]+(\.([0-9]{1,2})?)?$"></td>
        </tr>
        <tfoot>
          <tr>
            <td><strong>My Totals</strong></td>
            <td class="text-right"><strong>{{totalAmount | number:'1.2-2'}}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>    <!-- col -->
    </form>
  </div>    <!-- row -->
  <div class="row">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default" [disabled]="!tellerTotalsForm.form.valid">Submit</button>
    </div>
  </div>

</div>  <!-- container -->