<div class="container-fluid">
  
  <h3 class="alert alert-info">
    {{title}}
  </h3>

  <div class="row">
    <!-- pattern="(?:(?:0[1-9]|1[0-2])[\/\\-. ]?(?:0[1-9]|[12][0-9])|(?:(?:0[13-9]|1[0-2])[\/\\-. ]?30)|(?:(?:0[13578]|1[02])[\/\\-. ]?31))[\/\\-. ]?(?:19|20)[0-9]{2}" -->
    <!--
    <alert type="success">hello</alert>
    -->
  	<!-- <div class="card col-sm-3">

    <label for="date-value">Date</label>
    <div class="input-group">


       <input type="text" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
        class="form-control" [(ngModel)]="dateValueString" id="date-value">
       <span class="input-group-btn">
         <button class="btn btn-secondary" id="date-button" type="button" (click)="showDatePicker = !showDatePicker"><span class="fa fa-calendar"></span></button>
       </span>
    </div>

    <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
      <datepicker [(ngModel)]="dateValue" (selectionDone)="showDatePicker = false"></datepicker>
    </div>

    </div>  
    -->

    <div class="card col-sm-4">

      <table class="table table-condensed" id="currencyTable">
        <tr>
          <th>Currency Type</th>
          <th class="text-right">Count</th>
          <th class="text-right">Amount</th>
        </tr>
          <tr *ngFor="let currencyItem of currencyItems">
          <td>{{currencyItem.title}}</td>
          <td class="text-right"><input class="text-right" type="number" pattern="^[0-9]" min="0" max="10000" step="1" [(ngModel)]="currencyItem.count"></td>
          <td class="text-right">{{currencyItem.amountString}}</td>
          </tr>
      </table>

    </div>

    <div class="card col-sm-3">

      <table class="table table-condensed" id="dailyTotalsTable">
        <tr>
          <th>Daily Totals</th>
          <th class="text-right">Amount</th>
        </tr>
          <tr *ngFor="let dailyTotalItem of dailyTotalItems">
          <td>{{dailyTotalItem.title}}</td>
          <td class="text-right"><input [comNumberInput]="2" class="text-right" type="number" pattern="^-?\d+(\.\d{2})" step=".01" [(ngModel)]="dailyTotalItem.amount"></td>
        </tr>
        <tfoot>
          <tr>
            <td><strong>My Totals</strong></td>
            <td class="text-right"><strong>{{totalAmount | number:'1.2-2'}}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>    <!-- col -->
  </div>    <!-- row -->
</div>  <!-- container -->